<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <parameter name="wifiName"  value="Mani's Wifi"/>
    <parameter name="typeCell" value="iOS enter keys"/>
    <parameter name="typeSafariMobBrowser" value="MacBook Pro"/>
    <parameter name="username" value="manikant_p"/>
    <parameter name="typeCell" value="iOS enter keys"/>

    <listeners>
        <listener class-name="org.mani.utils.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="appiumBasicTest" >
        <classes>
            <class name="AppiumFramework.TestHybridApp" />
        </classes>
    </test>
</suite>